

#main-header{
    background: $c-bg;
    color: $c-bg;
}

#navbarSupportedContent{
    margin: auto;

}

#header-list{
    position: relative;
    right: 0px;
    margin-left: 55%;
}
.navbar-brand{
    position: absolute;
    left: 0px;
    margin-left: 10vh;
}